*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #444444;
    font-size: 9px;
}

body{
    /* height: 200vh; */
    background-image: linear-gradient(to left bottom, #0c3473, #153260, #1d2f4e, #222b3b, #262729);
	font-family: 'Helvetica', 'Arial', sans-serif;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 240vh;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 500px; */
    padding: 20px;
    width: 320px;
  }

  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }

  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  .subtitle-h3 {
    color: #eee;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }

  .ic1 {
    margin-top: 40px;
  }

  .ic2 {
    margin-top: 30px;
  }

  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
.input-select{
    background-color: #303245;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }

  .submit:active {
    background-color: #06b;
  }
  
  .benefits{
      color: #ffffff !important;
      height: 50px;
  }

  .products{
    color: #ffffff !important;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 140px;

  }

/* //////////////////////////////////////////////////////////// */
.header{
    width: 100%;
}
.header .header__logo-BBVA{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header__logo-BBVA img {
    width: 200px;
    height: 225px;
}

.header .header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header__logo img {
    width: 150px;
    height: 70px;
}





